<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Minecraft Internal Tools{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='fonts.css') }}">
</head>
<body>
  <header>
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
    <h1>Minecraft Internal Tools</h1>
  </header>
  <div class="container">
    <nav class="sidebar">
        <h2>Menu</h2>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('webserver') }}">WebSocket Server</a>
        <a href="{{ url_for('langanl') }}">Language Analysis</a>
        <a href="{{ url_for('ai_lang_tool') }}">AI Lang Tool</a>
    </nav>
    <main class="main-content">
      {% block content %}{% endblock %}
    </main>
  </div>
</body>
</html>